# Salin file ini jadi ".env" kalau mau tes lokal (opsional untuk deploy)
OPENROUTER_API_KEY=isi_api_key_openrouter_kamu
BOT_NAME=Oxxolot
MODEL_OTAK=nvidia/nemotron-3-ultra-550b-a55b:free
MODEL_KODING=poolside/laguna-s-2.1:free
